.bodyparent::-webkit-scrollbar {
  width: 0.2em !important;
  background-color: #F5F5F5 !important;
}
 
.bodyparent::-webkit-scrollbar-thumb {
  background-color: #000000 !important;
}
 
.bodyparent::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
}

